* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  color: #084236;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-areas: "aside main";

  height: 100vh;
}

aside {
  grid-area: aside;
  background: #18c29c;
}

main {
  grid-area: main;
  background: #dce4e3;
  padding: 18px;
}

main h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.8rem;
}

aside header {
  margin-left: 1.5rem;
  padding: 2.6rem 1.4rem;
  display: flex;
  justify-content: space-between;
}

aside header:last-child {
  cursor: pointer;
}
